<h1>Products in cart</h1>

{{#if noEmpty}}
    <div class="product-list">
        {{#each products}}
            <div class="product">
                <h2>{{this.product.title}}</h2>
                <p>Quantity: {{this.quantity}}</p>
                <p>{{this.product.description}}</p>
                <p>Price: ${{this.product.price}}</p>
            </div>
        {{/each}}
    </div>
    {{else}}
    <h1>Cart is empty</h1>
{{/if}}