<h1>List of products</h1>
<div class="product-list">
    {{#each products.docs}}
    <div class="product">
        <h2>{{this.title}}</h2>
        <p>{{this.description}}</p>
        <p>Code: {{this.code}}</p>
        <p>Price: ${{this.price}}</p>
        <p>Stock: {{this.stock}}</p>
        <p>Category: {{this.category}}</p>
        <button class="add-to-cart-btn" id={{this._id}}>Add to cart</button>
    </div>
    {{/each}}
</div>

<div class="pagination">
    {{#if products.hasPrevPage}}
    <a href={{products.linkPrevPage}}><< Prev</a>
    {{/if}}
    <span>{{products.page}}</span>
    {{#if products.hasNextPage}}
    <a href={{products.linkNextPage}}>Next >></a>
    {{/if}}
</div>

<script src="js/home.js"></script>